/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 20px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  background-color: black;
  position: sticky;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* Hero Section */
.Hero {
  height: 400px;
  background-image: url("pexels-karola-g-4968391.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.Hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.Hero button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Products Section */
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.products img {
  width: 100%;
  border-radius: 10px;
}

.product-item-two img,
.product-item-three img,
.product-item-four img {
  height: 405px;
  object-fit: cover;
}

.product-item,
.product-item-two,
.product-item-three,
.product-item-four {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.products button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.products button:hover {
  background-color: #555;
}

/* Contact Section */
.Contact {
  text-align: center;
  padding: 20px;
  background-color: #513030;
  color: white;
  margin-top: 50px;
}

.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.Contact form input,
.Contact form textarea {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.Contact form button {
  padding: 10px 20px;
  background-color: #ad63db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Contact form button:hover {
  background-color: #8b4bb8;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .Hero h1 {
    font-size: 32px;
  }

  .Hero button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
